/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.navbar li {
    max-width: 100px;
    float: left;
}

.home {
    margin: 10px;
}