/*****************************************************************************/
/* Signup: Style */
/*****************************************************************************/
.signup {
    max-width: 400px;
    padding: 50px;
}

.signup-btn {
    margin-top: 5px;
}

.signup label {
    margin-top: 10px;
}
