/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
    max-width: 400px;
    padding: 50px;
}

.login-btn {
    margin-top: 5px;
}

.login label {
    margin-top: 10px;
}
