<template name="Login">
    <div class="login">
        <div class="container">
            <h1>Login</h1>
            <form class="signup">
                <label for="email">Email:</label> 
                <input type="text" name="email" class="form-control" autofocus required />
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required />
                <input class="signup-btn btn btn-lg btn-primary btn-block" type="submit" value="Log In" />
            </form>
        </div> <!-- /container -->
    </div>
</template>
